<a href="https://colab.research.google.com/github/programacaodinamica/analise-dados/blob/master/notebooks/World_Cup_Data_Viz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
results = pd.read_csv('/content/results.csv', parse_dates=['date'])

In [ ]:
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44147,2022-12-01,Canada,Morocco,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44148,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44149,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True
44150,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True
44151,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True

In [ ]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44152 entries, 0 to 44151
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        44152 non-null  datetime64[ns]
 1   home_team   44152 non-null  object
 2   away_team   44152 non-null  object
 3   home_score  44104 non-null  float64
 4   away_score  44104 non-null  float64
 5   tournament  44152 non-null  object
 6   city        44152 non-null  object
 7   country     44152 non-null  object
 8   neutral     44152 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(5)
memory usage: 2.7+ MB

In [ ]:
results_fifa = results[results['tournament']== 'FIFA World Cup']

In [ ]:
results_fifa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1311,1930-07-13,Belgium,United States,0.0,3.0,FIFA World Cup,Montevideo,Uruguay,True
1312,1930-07-13,France,Mexico,4.0,1.0,FIFA World Cup,Montevideo,Uruguay,True
1313,1930-07-14,Brazil,Yugoslavia,1.0,2.0,FIFA World Cup,Montevideo,Uruguay,True
1314,1930-07-14,Peru,Romania,1.0,3.0,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-15,Argentina,France,1.0,0.0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
44147,2022-12-01,Canada,Morocco,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44148,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44149,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True
44150,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True
44151,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True

In [ ]:
results_fifa['year'] = results_fifa['date'].dt.year

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
results_fifa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
1311,1930-07-13,Belgium,United States,0.0,3.0,FIFA World Cup,Montevideo,Uruguay,True,1930
1312,1930-07-13,France,Mexico,4.0,1.0,FIFA World Cup,Montevideo,Uruguay,True,1930
1313,1930-07-14,Brazil,Yugoslavia,1.0,2.0,FIFA World Cup,Montevideo,Uruguay,True,1930
1314,1930-07-14,Peru,Romania,1.0,3.0,FIFA World Cup,Montevideo,Uruguay,True,1930
1315,1930-07-15,Argentina,France,1.0,0.0,FIFA World Cup,Montevideo,Uruguay,True,1930
...,...,...,...,...,...,...,...,...,...,...
44147,2022-12-01,Canada,Morocco,NaN,NaN,FIFA World Cup,Doha,Qatar,True,2022
44148,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True,2022
44149,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True,2022
44150,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True,2022
44151,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True,2022

In [ ]:
home_scores = results_fifa[['home_team', 'home_score', 'year']].rename({'home_team':'team', 'home_score':'score'}, axis='columns')
away_scores = results_fifa[['away_team', 'away_score', 'year']].rename({'away_team':'team', 'away_score':'score'}, axis='columns')

In [ ]:
home_scores

              team  score  year
1311       Belgium    0.0  1930
1312        France    4.0  1930
1313        Brazil    1.0  1930
1314          Peru    1.0  1930
1315     Argentina    1.0  1930
...            ...    ...   ...
44147       Canada    NaN  2022
44148       Serbia    NaN  2022
44149     Cameroon    NaN  2022
44150        Ghana    NaN  2022
44151  South Korea    NaN  2022

[948 rows x 3 columns]

In [ ]:
away_scores

                team  score  year
1311   United States    3.0  1930
1312          Mexico    1.0  1930
1313      Yugoslavia    2.0  1930
1314         Romania    3.0  1930
1315          France    0.0  1930
...              ...    ...   ...
44147        Morocco    NaN  2022
44148    Switzerland    NaN  2022
44149         Brazil    NaN  2022
44150        Uruguay    NaN  2022
44151       Portugal    NaN  2022

[948 rows x 3 columns]

In [ ]:
scores_fifa = pd.concat([home_scores, away_scores]).reset_index(drop=True).fillna(0)

In [ ]:
scores_fifa

             team  score  year
0         Belgium    0.0  1930
1          France    4.0  1930
2          Brazil    1.0  1930
3            Peru    1.0  1930
4       Argentina    1.0  1930
...           ...    ...   ...
1891      Morocco    0.0  2022
1892  Switzerland    0.0  2022
1893       Brazil    0.0  2022
1894      Uruguay    0.0  2022
1895     Portugal    0.0  2022

[1896 rows x 3 columns]

In [ ]:
scores_fifa.groupby(['team','year']).score.sum().unstack().fillna(0)

year,1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,...,1986,1990,1994,1998,2002,2006,2010,2014,2018,2022
team,,,,,,,,,,,,,,,,,,,,,
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Argentina,18.0,2.0,0.0,0.0,0.0,5.0,2.0,4.0,0.0,9.0,...,14.0,5.0,8.0,10.0,2.0,11.0,10.0,8.0,6.0,0.0
Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,3.0,3.0,2.0,0.0
Austria,0.0,7.0,0.0,0.0,17.0,2.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Arab Emirates,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
United States,7.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,3.0,1.0,7.0,2.0,5.0,5.0,0.0,0.0
Uruguay,15.0,0.0,0.0,15.0,16.0,0.0,4.0,2.0,4.0,1.0,...,2.0,2.0,0.0,0.0,4.0,0.0,11.0,4.0,7.0,0.0
Wales,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yugoslavia,7.0,0.0,0.0,7.0,2.0,7.0,10.0,0.0,0.0,12.0,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
scores_fifa_year = scores_fifa.groupby(['team','year']).score.sum().unstack().fillna(0).cumsum(axis=1).reset_index()

In [ ]:
scores_fifa_year

year,team,1930,1934,1938,1950,1954,1958,1962,1966,1970,...,1986,1990,1994,1998,2002,2006,2010,2014,2018,2022
0,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,13.0,13.0,13.0
1,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
2,Argentina,18.0,20.0,20.0,20.0,20.0,25.0,27.0,31.0,31.0,...,77.0,82.0,90.0,100.0,102.0,113.0,123.0,131.0,137.0,137.0
3,Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,8.0,11.0,13.0,13.0
4,Austria,0.0,7.0,7.0,7.0,24.0,26.0,26.0,26.0,26.0,...,38.0,40.0,40.0,43.0,43.0,43.0,43.0,43.0,43.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,United Arab Emirates,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
78,United States,7.0,8.0,8.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,14.0,17.0,18.0,25.0,27.0,32.0,37.0,37.0,37.0
79,Uruguay,15.0,15.0,15.0,30.0,46.0,46.0,50.0,52.0,56.0,...,59.0,61.0,61.0,61.0,65.0,65.0,76.0,80.0,87.0,87.0
80,Wales,0.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
81,Yugoslavia,7.0,7.0,7.0,14.0,16.0,23.0,33.0,33.0,33.0,...,47.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0

In [ ]:
flags = pd.read_csv('/content/countries-fifa-flags.csv')

In [ ]:
flags

,code,country,confederation,url
0,AFG,Afghanistan,AFC,https://countryflagsapi.com/png/afghanistan
1,AIA,Anguilla,CONCACF,https://countryflagsapi.com/png/anguilla
2,ALB,Albania,UEFA,https://countryflagsapi.com/png/albania
3,ALG,Algeria,CAF,https://countryflagsapi.com/png/algeria
4,ASA,American Samoa,OFC,https://countryflagsapi.com/png/american%20samoa
...,...,...,...,...
206,ISV,US Virgin Islands,CONCACF,https://countryflagsapi.com/png/us%20virgin%20...
207,WAL,Wales,UEFA,https://countryflagsapi.com/png/wales
208,YEM,Yemen,AFC,https://countryflagsapi.com/png/yemen
209,ZAM,Zambia,CAF,https://countryflagsapi.com/png/zambia
210,ZIM,Zimbabwe,CAF,https://countryflagsapi.com/png/zimbabwe

In [ ]:
scores_fifa_year.merge(flags, left_on='team', right_on='country', how='left').to_csv('fifa-data-viz.csv', index=False)